body {
    font-family: 'Arial';
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 10px 0;
    text-align: center;
}

.contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}
